SAAF
.volumes/*
src/logpull/runs
**/.env
.vscode
src/driver/*_saaf_config.json
src/driver/upload.log
src/workloadgenerator/runs
src/workloadgenerator/upload
# data
data/downloaded/
data/extract/
tmp
*.key
*.key.pub
docker-compose.override.yml
**/nohup.out
**/__pycache__
dataset.csv
*.parquet
*.parquet.zip
*.tar.gz
.ipynb_checkpoints/*

pickles/temporal_analysis/decomposition.p

