[Unit]
After=network.service

[Service]
WorkingDirectory=/home/geot
ExecStart=/home/geot/.local/bin/jupyter notebook
User=geot

[Install]
WantedBy=default.target
